*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navbar{
    width: 100%;
}

.main{
    width: 100%;
    margin-top: -4px;
    display: inline-flex;
}

.sidebar{
    width: 24%;
    min-height: 100vh;
    background: #F1F8F9;
    
}

.sidebarImg{
    width: 100%;
}

.content{
    width: 100%;
}

.header{
    width: 100%;
}

.festivalContain{
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(233, 233, 233); 
}

.festivalImg{
    display: inline-block;
}

.festivalData{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 18px;
    
}

.festivalImg{
    margin-left: 2%;
    margin-top: 5px;
    width: 10%;
    border: rgb(242, 242, 242) 2px solid;
    box-shadow: 5px 5px 2px rgb(242, 242, 242);
}

.festivalTitle{
    color: rgb(20, 178, 204);
    font-size: 2vw;
    display: inline-block;
}

.festivalDialog{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    background: rgb(20, 178, 204);
    color: white;
    border-radius: 4px;
    font-size: 1vw;
    vertical-align: top;
}

.festivalDialog:hover{
    cursor: pointer;
    background: rgb(15, 145, 165);
}

.festivalDataInfo{
    margin-top: 3px;
}

.festivalInfoLeftVal{
    color: rgb(197, 197, 197);
}

.festivalInfoRightVal{
    color: grey;
}

.statBox{
    width: 50%;
    display: inline-block;
}

.sectionContain{
    width: 90%;
    margin: 40px auto;
}

.sectionHead{
    background: #F6F6F6;
    color: rgb(20, 178, 204);
    border: 1px solid #E6E6E6;
    overflow-y: hidden;
}

.sectionHeadTitle{
    display: inline-block;
    font-size: 1.8vw;
    margin-left: 8px;
    margin-top: 10px;
}

.sectionHeadImg{
    display: inline-block;
    width: 40%;
    float: right;
    
}


