*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navbar{
    width: 100%;
}

.main{
    width: 100%;
    margin-top: -4px;
    display: inline-flex;
}

.sidebar{
    width: 24%;
    min-height: 100vh;
    background: #F1F8F9;
    
}

.sidebarImg{
    width: 100%;
}

.content{
    width: 100%;
}

.header{
    width: 100%;
}

.festivalContain{
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(233, 233, 233); 
}

.festivalImg{
    display: inline-block;
}

.festivalData{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 18px;
    
}

.festivalImg{
    margin-left: 2%;
    margin-top: 5px;
    width: 10%;
    border: rgb(242, 242, 242) 2px solid;
    box-shadow: 5px 5px 2px rgb(242, 242, 242);
}

.festivalTitle{
    color: rgb(20, 178, 204);
    font-size: 2vw;
    display: inline-block;
}

.festivalDialog{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    background: rgb(20, 178, 204);
    color: white;
    border-radius: 4px;
    font-size: 1vw;
    vertical-align: top;
}

.festivalDialog:hover{
    cursor: pointer;
    background: rgb(15, 145, 165);
}

.festivalDataInfo{
    margin-top: 3px;
}

.festivalInfoLeftVal{
    color: rgb(197, 197, 197);
}

.festivalInfoRightVal{
    color: grey;
}

.statBox{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.sectionContain{
    box-shadow: 5px 5px 2px rgb(242, 242, 242);
    width: 90%;
    margin: 20px auto;
    border: 1px solid #E6E6E6;
}

.sectionHead{
    background: #F6F6F6;
    color: rgb(20, 178, 204);
    border-bottom: 1px solid #E6E6E6;
    overflow-y: hidden;
}

.sectionHeadTitle{
    display: inline-block;
    font-size: 1.8vw;
    margin-left: 8px;
    margin-top: 10px;
}

.sectionHeadImg{
    display: inline-block;
    width: 40%;
    float: right;
}

.ticketsSection{
    
    margin-bottom: 20px;
}



.ticketSectionIcon{
    margin-top: 2%;
    margin-left: 2%;
    background: rgb(242, 147, 35);
    border-radius: 50%;
    color: white;
    width: 11%;
    height: 0;
    text-align: center;
    padding: 3% 0 8% 0;
    font-size: 1.5vw;
    margin-right: 0;
    vertical-align: top;
    display: inline-block;
    float: left;
}

.ticketSectionGrey{
    background: rgb(231, 231, 231);
}

.ticketsSectionDataInfo{
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
    width: 38%;
    font-size: 1.1vw;
    padding-bottom: 16px;
}

.ticketsSectionDatesInfo{
    display: inline-block;
    font-size: 1.1vw;
    margin-top: 3%;
    padding-right: 8px;
    float: right;
    text-align: right;
}

.ticketsSectionDataInfoButtons{
    margin-top: 2%;
}

.ticketsSectionDataInfoButton{
    display: inline-block;
    background: rgb(221, 221, 221);
    padding: 3px 10px;
}

.ticketsSectionDataInfoViewButton{
    margin-left: 10%;
}

.settingsSection{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 5px;
    padding-left: 10px;
}

.settingsCheckTitle{
    margin-left: 1%;
    color: #14B2CC;
    display: inline-block;
    font-size: 2vw;
}

.settingsDescription{
    font-size: 1vw;
    padding-bottom: 8px;
}

.settingsBottom{
    background: #F6F6F6
}

.settingsBottomTable{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
}

.settingsBottomTableLeftVal{
    font-weight: bold;
    font-size: 1vw;
}

.settingsBottomTableRightVal{
    font-size: 1vw;
}

.countdownContain{
    background: rgb(20, 178, 204);
    color: white;
    padding: 20px 0;
}

.countdownContainText{
    display: inline-block;
    text-align: center;
    width: 33%;
    border-right: 1px solid white;
}

.countdownContainText:nth-child(3){
    border-right: none;
}

.countdownContainTop{
    font-size: 2.2vw;
    text-shadow: 1px 1px 2px solid rgb(136, 136, 136);
}

.countdownContainBottom{
    font-size: 1.5vw;
    color: rgba(255,255,255, 0.7)
}

.reportsOptions{
    padding: 8px 0;
}

.reportsOptionsText{
    
    display: inline-block;
    margin-left: 8%;
}

.attendanceSection{
    padding-top: 10px;
}

.attendanceSecLeft{
    width: 50%;
    display: inline-block;
}

.attendanceSecRight{
    width: 50%;
    display: inline-block;
}

.attendanceLeftTitle{
    margin-left: 5%;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 1.4vw
}

.attendanceLeftButton{
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 3px;
    background: #DDDDDD;
    display: inline-block;
}

.attendanceSecRight{
    font-size: 1.1vw;
}

.attendanceRightEmail{
    color: rgb(20, 178, 204);
}
